<a href="https://colab.research.google.com/github/parmidamardi/CDM-MatrixMonitor-FP/blob/main/CDM%E2%80%91MatrixMonitor%E2%80%91FP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pandas numpy matplotlib seaborn openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("https://archive.ics.uci.edu/static/public/352/data.csv", encoding='unicode_escape')
print(df.columns)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [13]:

print(df.shape)
print(df.head())

(541909, 8)
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [14]:
print(df.columns.tolist())

['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

In [16]:
#Drop rows where any key business attribute is missing
df_clean = df.dropna(subset=['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'])

In [18]:
print(df_clean['InvoiceDate'].dtype)

object

In [19]:
#Convert InvoiceDate to datetime type
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'], errors='coerce')

/tmp/ipython-input-1746825974.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'], errors='coerce')

In [20]:
print(df_clean['InvoiceDate'].dtype)

datetime64[ns]

In [21]:
# Filter invalid transactions
df_clean = df_clean[
    (~df_clean['InvoiceNo'].str.startswith('C')) & (df_clean['Quantity'] > 0) & (df_clean['UnitPrice'] > 0)
]

In [22]:
#Reset index for clean iteration
df_clean = df_clean.reset_index(drop=True)

In [23]:
#After cleaning
print("Shape:", df_clean.shape)
print("Columns:", df_clean.columns.tolist())
df_clean.info()
df_clean.describe()
print(df.head(5))

Shape: (397884, 8)
Columns: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397884 entries, 0 to 397883
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397884 non-null  object
 1   StockCode    397884 non-null  object
 2   Description  397884 non-null  object
 3   Quantity     397884 non-null  int64
 4   InvoiceDate  397884 non-null  datetime64[ns]
 5   UnitPrice    397884 non-null  float64
 6   CustomerID   397884 non-null  float64
 7   Country      397884 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 24.3+ MB
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom

In [25]:
basket_df = df_clean[['InvoiceNo', 'StockCode', 'Quantity']].copy()
basket_df = basket_df[basket_df['Quantity'] > 0]
basket_df['Quantity'] = 1

In [34]:
item_matrix = basket_df.pivot_table(
    index='InvoiceNo',
    columns='StockCode',
    values='Quantity',
    aggfunc='sum',
    fill_value=0
)
item_matrix = (item_matrix > 0).astype(int)
print(item_matrix.shape)
print(item_matrix.head(15))

(18532, 3665)
StockCode  10002  10080  10120  10123C  10124A  10124G  10125  10133  10135  \
InvoiceNo
536365         0      0      0       0       0       0      0      0      0
536366         0      0      0       0       0       0      0      0      0
536367         0      0      0       0       0       0      0      0      0
536368         0      0      0       0       0       0      0      0      0
536369         0      0      0       0       0       0      0      0      0
536370         1      0      0       0       0       0      0      0      0
536371         0      0      0       0       0       0      0      0      0
536372         0      0      0       0       0       0      0      0      0
536373         0      0      0       0       0       0      0      0      0
536374         0      0      0       0       0       0      0      0      0
536375         0      0      0       0       0       0      0      0      0
536376         0      0      0       0       0       0      0      0      0
536377         0      0      0       0       0       0      0      0      0
536378         0      0      0       0       0       0      0      0      0
536380         0      0      0       0       0       0      0      0      0

StockCode  11001  ...  90214V  90214W  90214Y  90214Z  BANK CHARGES  C2  DOT  \
InvoiceNo         ...
536365         0  ...       0       0       0       0             0   0    0
536366         0  ...       0       0       0       0             0   0    0
536367         0  ...       0       0       0       0             0   0    0
536368         0  ...       0       0       0       0             0   0    0
536369         0  ...       0       0       0       0             0   0    0
536370         0  ...       0       0       0       0             0   0    0
536371         0  ...       0       0       0       0             0   0    0
536372         0  ...       0       0       0       0             0   0    0
536373         0  ...       0       0       0       0             0   0    0
536374         0  ...       0       0       0       0             0   0    0
536375         0  ...       0       0       0       0             0   0    0
536376         0  ...       0       0       0       0             0   0    0
536377         0  ...       0       0       0       0             0   0    0
536378         0  ...       0       0       0       0             0   0    0
536380         0  ...       0       0       0       0             0   0    0

StockCode  M  PADS  POST
InvoiceNo
536365     0     0     0
536366     0     0     0
536367     0     0     0
536368     0     0     0
536369     0     0     0
536370     0     0     1
536371     0     0     0
536372     0     0     0
536373     0     0     0
536374     0     0     0
536375     0     0     0
536376     0     0     0
536377     0     0     0
536378     0     0     0
536380     0     0     0

[15 rows x 3665 columns]

In [33]:
print(item_matrix.loc["536365"]["85123A"])

1